@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://nyri4.github.io/donators/donators.css");
:root .buttons-3dF5Kd {
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  position: fixed;
  bottom: 26.5px;
  left: 327.5px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD {
  width: 40px !important;
  height: 40px !important;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD foreignObject {
  width: 100% !important;
  height: 100% !important;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD .pointerEvents-9SZWKj {
  x: 31px;
  y: 31px;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD:hover {
  opacity: 1;
}
:root .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD + .nameTag-sc-gpq {
  display: none;
}
:root .content-1SgpWY > :nth-child(2):not(.chat-2ZfjoI), :root .callContainer-BGIngG, :root .gatedContent-31-gID, :root .chat-2ZfjoI > .content-1jQy2l > .pageContainer-36uo3F, :root .content-1jQy2l > .container-3wLKDe {
  z-index: 2;
}
:root .chat-2ZfjoI .form-3gdLxP {
  padding-left: 66px;
}
:root .userProfileModalOuter-1FYL8T .topSection-1Khgkv .avatar-1YsFQ1 {
  top: -143px;
}
:root .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY[viewBox="0 0 600 106"] foreignObject {
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}
:root .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY .banner-2boKnS {
  height: 160px;
}
:root .userProfileModalOuter-1FYL8T .topSection-1Khgkv .avatar-1YsFQ1 {
  top: -143px;
}
:root .userProfileModalOuter-1FYL8T .topSection-1Khgkv .headerTop-212g15 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -100px;
  left: 155px;
}
:root .userProfileModalOuter-1FYL8T .topSection-1Khgkv .headerTop-212g15 .badgeList-2pMvZX {
  padding: 0 0 10px 0;
  background-color: transparent;
}
:root .userProfileModalOuter-1FYL8T .userProfileModalOverlayBackground-8p3-eU {
  overflow: visible;
}
:root .userProfileModalOuter-1FYL8T .userProfileModalOverlayBackground-8p3-eU .nameTag-2ysfG3 {
  position: absolute;
  top: -150px;
  left: 140px;
  z-index: 1;
  font-size: 23px;
  font-weight: 600;
}
:root .userProfileModalOuter-1FYL8T .mask-1FEkla rect[fill=black], :root .userProfileModalOuter-1FYL8T .mask-1FEkla circle[fill=black] {
  display: none;
}
:root .userProfileModalOuter-1FYL8T .mask-1FEkla .cursorDefault--wfhy5 rect, :root .userProfileModalOuter-1FYL8T .mask-1FEkla .pointerEvents-9SZWKj {
  rx: calc(1px + var(--status-radius)) !important;
  ry: calc(1px + var(--status-radius));
}
:root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee {
  padding: 16px;
  margin: 12px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
:root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .headerText-3g1XK9, :root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .activityName-3YXl6e, :root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .content-tXPNDw,
:root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .details-2-ciHo, :root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .name-1-Q7l2, :root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .nameNormal-2fPMD2, :root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .nameWrap-3TyM52 {
  color: white;
}
:root .userProfileModalOuter-1FYL8T .activityProfileV2-1N7pee .button-TGAkj4 {
  border: none;
  background-color: rgba(255, 255, 255, 0.1294117647);
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1294117647);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1294117647);
  color: #fff;
}
